
    <!-- Footer Area Start -->
    <footer class="footer footer-secondary">
      <div class="container">
        <div class="row section">
          <div class="col-12">
            <div class="footer-secondary__content">
              <div class="footer__logo">
                <a href="/">
                  <img width="250" src="<%= settings.logo_url %>" alt="Logo" />
                </a>
              </div>
              <div class="quick-link order-1 order-lg-0">
                <ul class="quick-link__list">
                  <li><a href="#!">Personal Loan</a></li>
                  <li><a href="#!">Car Loan</a></li>
                  <li><a href="#!">Personal Loan</a></li>
                  <li><a href="#!">Financial Loan</a></li>
                </ul>
              </div>
              <div class="social">
                <a href="<%= settings.facebook_url %>" class="btn_theme social_box"
                  ><i class="bi bi-facebook"></i><span></span
                ></a>
                <a href="<%= settings.twitter_url %>" class="btn_theme social_box"
                  ><i class="bi bi-twitter"></i><span></span
                ></a>

                <a href="<%= settings.youtube_url %>" class="btn_theme social_box"
                  ><i class="bi bi-youtube"></i><span></span
                ></a>
                <a href="<%= settings.whatsapp_url %>" class="btn_theme social_box"
                  ><i class="bi bi-whatsapp"></i><span></span
                ></a>
                <a href="<%= settings.instagram_url %>" class="btn_theme social_box"
                  ><i class="bi bi-instagram"></i><span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="footer__copyright">
              <p class="copyright text-center">
                Copyright 2025 | My Loan Bazar | All Rights Reserved | Design
                and Developed by
                <a href="https://thecolourmoon.com/index" target="_blank"
                  >Colourmoon</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Area End -->

    <%- include("enquiry-modal") %>




    <!-- scroll to top -->
    <a href="#" class="scrollToTop"><i class="bi bi-chevron-double-up"></i></a>

    <!--  js dependencies start  -->
    <!-- jquery -->
    <script
      data-cfasync="false"
      src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="/vendor/jquery/jquery-3.6.3.min.js"></script>
    <!-- bootstrap five js -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- nice select js -->
    <script src="/vendor/nice-select/js/jquery.nice-select.min.js"></script>
    <!-- magnific popup js -->
    <script src="/vendor/magnific-popup/js/jquery.magnific-popup.min.js"></script>
    <!-- circular-progress-bar -->
    <script src="../../../cdn.jsdelivr.net/gh/tomik23/circular-progress-bar%40latest/docs/circularProgressBar.min.js"></script>
    <!-- slick js -->
    <script src="/vendor/slick/js/slick.min.js"></script>
    <!-- odometer js -->
    <script src="/vendor/odometer/js/odometer.min.js"></script>
    <!-- viewport js -->
    <script src="/vendor/viewport/viewport.jquery.js"></script>
    <!-- jquery ui js -->
    <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
    <!-- wow js -->
    <script src="/vendor/wow/wow.min.js"></script>

    <script src="/vendor/jquery-validate/jquery.validate.min.js"></script>

    <!--  / js dependencies end  -->

    <!-- plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- main js -->
    <script src="/js/main.js"></script>
  </body>
</html>
